.course{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #f9f9f9;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0.5rem 1rem 0.75rem;
    margin: 0 0.25rem 1rem;
    cursor: pointer;
}

.course h3{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color:var(--color-dark);
    margin-bottom:15px;
}

.course ul li {
    margin-bottom: 07px;
    margin-right: 15px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.course ul li p{
    margin:0;
    color:#787878;
}

.course ul li img{
    height: 20px;
    margin-right: 10px;
}

.course .actions .btn-primary{
    width:30%;
}

.course .actions .btn-outline-light{
    width:70%;
}


@media only screen and (min-width:768px){
    .course ul, .actions {
        display: flex;
        justify-content: center;
    }


    .course .actions .btn-primary{
        width:20%;
        max-width: 100px;
    }

    .course .actions .btn-outline-light{
        width:50%;
        max-width: 200px;
    }
}
