<header class="d-flex align-items-center justify-content-evenly primary-header">
  <button
    (click)="toggleDrawer(true, false)"
    class="menu-toggle header-button image-button"
  >
    <img src="../../../assets/images/hamburger.svg" />
  </button>
  <app-logo></app-logo>
  <button
    (click)="toggleDrawer(true, true)"
    class="search-btn header-button image-button"
  >
    <img src="../../../assets/images/search.svg" />
  </button>
</header>

<app-drawer
  *ngIf="drawerIsOpen"
  (closeBtnClicked)="toggleDrawer(false, false)"
></app-drawer>
