<nav class="navbar navbar-expand-lg sticky-top navbar-light top-navigation p-0">
    <div class="container-fluid">
        <app-logo></app-logo>
      <div class="collapse navbar-collapse" id="navbarScroll" >
        <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll desktop-nav" style="--bs-scroll-height: 100px;">
          <li class="nav-item has-submenu">
            <a class="nav-link active" aria-current="page" href="#">Study Abroad Guide
              <img src="../../../assets/images/chevron-down.svg"/>
            </a>
            <ul class="study_abroad_menu_list">
              <div class="study-abroad-menu" >
                <article  class="study_abroad_menu_container">
                  <section  class="side_bar">
                    <main >
                      <h5 >Explore By</h5>
                      <ul  class="active ">
                        <li  class="nav_image_link">
                          <img  loading="lazy" alt="" class="w-1-5rem " src="https://strapi.ischoolconnect.com/uploads/exam_active_98dd616233.png">
                          <!---->
                          <!----> &nbsp;Exams
                        </li>
                      </ul>
                      <ul  >
                        <li  class="nav_image_link">
                          <!---->
                          <img  loading="lazy" alt="" class="w-1-5rem " src="https://strapi.ischoolconnect.com/uploads/country_inactive_a1a6e8544f.png">
                          <!----> &nbsp;Countries
                        </li>
                      </ul>
                      <ul  >
                        <li  class="nav_image_link">
                          <!---->
                          <img  loading="lazy" alt="" class="w-1-5rem " src="https://strapi.ischoolconnect.com/uploads/expenses_inactive_e813954520.png">
                          <!----> &nbsp;Expenses
                        </li>
                      </ul>
                      <ul  >
                        <li  class="nav_image_link">
                          <!---->
                          <img  loading="lazy" alt="" class="w-1-5rem " src="https://strapi.ischoolconnect.com/uploads/university_inactive_87d3478657.png">
                          <!----> &nbsp;Universities
                        </li>
                      </ul>
                      <!---->
                    </main>
                    <section  class="footer_carousal ">
                      <a  target="_blank" href="https://hubs.la/Q01QFL000">
                        <img  loading="lazy" alt="" src="https://strapi.ischoolconnect.com/uploads/i_SC_TALK_8_0_banner_170x170_1_57ab53a427.jpg">
                      </a>
                    </section>
                    <!---->
                  </section>
                  <section  class="menu_info">
                    <!---->
                    <main  >
                      <!---->
                      <section  class="other_sub_menu_section" style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 2rem; grid-template-rows: repeat(2, 1fr);">
                        <section  class="other_sub_menu_section__list ">
                          <h4 >IELTS</h4>
                          <section  >
                            <a  target="_blank" href="/en/exams/ielts/overview">IELTS Overview</a>
                          </section>
                          <section  >
                            <a  target="_blank" href="/en/exams/ielts/eligibility/">IELTS Eligibility</a>
                          </section>
                          <section  >
                            <a  target="_blank" href="/en/exams/ielts/syllabus">IELTS Syllabus</a>
                          </section>
                          <section  >
                            <a  target="_blank" href="/en/exams/ielts/exam-pattern/">IELTS Exam Pattern</a>
                          </section>
                          <section  >
                            <a  target="_blank" href="/en/exams/ielts/preparation-ideas/">IELTS Preparation Ideas</a>
                          </section>
                          <section  >
                            <a  target="_blank" href="/en/exams/ielts/practice-tests/">IELTS Practice Tests</a>
                          </section>
                          <!---->
                        </section>
                        <section  class="other_sub_menu_section__list ">
                          <h4 >TOEFL</h4>
                          <section  >
                            <a  target="_blank" href="/en/exams/toefl/overview/">TOEFL Overview</a>
                          </section>
                          <section  >
                            <a  target="_blank" href="/en/exams/toefl/eligibility/">TOEFL Eligibility</a>
                          </section>
                          <section  >
                            <a  target="_blank" href="/en/exams/toefl/syllabus/">TOEFL Syllabus</a>
                          </section>
                          <section  >
                            <a  target="_blank" href="/en/exams/toefl/exam-pattern/">TOEFL Exam Pattern</a>
                          </section>
                          <section  >
                            <a  target="_blank" href="/en/exams/toefl/preparation-ideas/">TOEFL Preparation Ideas</a>
                          </section>
                          <section  >
                            <a  target="_blank" href="/en/exams/toefl/practice-tests/">TOEFL Practice Tests</a>
                          </section>
                          <!---->
                        </section>
                        <section  class="other_sub_menu_section__list ">
                          <h4 >PTE</h4>
                          <section  >
                            <a  target="_blank" href="/en/exams/pte/overview/">PTE Overview</a>
                          </section>
                          <section  >
                            <a  target="_blank" href="/en/exams/pte/eligibility/">PTE Eligibility</a>
                          </section>
                          <section  >
                            <a  target="_blank" href="/en/exams/pte/syllabus/">PTE Syllabus</a>
                          </section>
                          <section  >
                            <a  target="_blank" href="/en/exams/pte/exam-pattern/">PTE Exam Pattern</a>
                          </section>
                          <section  >
                            <a  target="_blank" href="/en/exams/pte/preparation-ideas/">PTE Preparation Ideas</a>
                          </section>
                          <section  >
                            <a  target="_blank" href="/en/exams/pte/practice-tests/">PTE Practice Tests</a>
                          </section>
                          <!---->
                        </section>
                        <section  class="other_sub_menu_section__list ">
                          <h4 >GRE</h4>
                          <section  >
                            <a  target="_blank" href="/en/exams/gre/overview">GRE Overview</a>
                          </section>
                          <section  >
                            <a  target="_blank" href="/en/exams/gre/eligibility">GRE Eligibility</a>
                          </section>
                          <section  >
                            <a  target="_blank" href="/en/exams/gre/syllabus">GRE Syllabus</a>
                          </section>
                          <section  >
                            <a  target="_blank" href="/en/exams/gre/exam-pattern/">GRE Exam Pattern</a>
                          </section>
                          <section  >
                            <a  target="_blank" href="/en/exams/gre/preparation-ideas/">GRE Preparation Ideas</a>
                          </section>
                          <section  >
                            <a  target="_blank" href="/en/exams/gre/practice-tests/">GRE Practice Tests</a>
                          </section>
                          <!---->
                        </section>
                        <section  class="other_sub_menu_section__list ">
                          <h4 >GMAT</h4>
                          <section  >
                            <a  target="_blank" href="/en/exams/gmat/overview">GMAT Overview</a>
                          </section>
                          <section  >
                            <a  target="_blank" href="/en/exams/gmat/eligibility/">GMAT Eligibility</a>
                          </section>
                          <section  >
                            <a  target="_blank" href="/en/exams/gmat/syllabus/">GMAT Syllabus</a>
                          </section>
                          <section  >
                            <a  target="_blank" href="/en/exams/gmat/exam-pattern/">GMAT Exam Pattern </a>
                          </section>
                          <section  >
                            <a  target="_blank" href="/en/exams/gmat/preparation-ideas/">GMAT Preparation Ideas</a>
                          </section>
                          <section  >
                            <a  target="_blank" href="/en/exams/gmat/practice-tests/">GMAT Practice Tests</a>
                          </section>
                          <!---->
                        </section>
                        <section  class="other_sub_menu_section__list ">
                          <h4 >SAT</h4>
                          <section  >
                            <a  target="_blank" href="/en/exams/sat/overview/">SAT Overview</a>
                          </section>
                          <section  >
                            <a  target="_blank" href="/en/exams/sat/eligibility/">SAT Eligibility</a>
                          </section>
                          <section  >
                            <a  target="_blank" href="/en/exams/sat/syllabus/">SAT Syllabus</a>
                          </section>
                          <section  >
                            <a  target="_blank" href="/en/exams/sat/exam-pattern/">SAT Exam Pattern</a>
                          </section>
                          <section  >
                            <a  target="_blank" href="/en/exams/sat/preparation-ideas/">SAT Preparation Ideas</a>
                          </section>
                          <section  >
                            <a  target="_blank" href="/en/exams/sat/practice-tests/">SAT Practice Tests</a>
                          </section>
                          <!---->
                        </section>
                        <!---->
                      </section>
                    </main>
                    <!---->
                    <footer >
                      <p></p>
                    </footer>
                  </section>
                </article>
              </div>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Forum</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Plans</a>
          </li>
          <li>
            <div class="buy-button"><a target="_blank" class="btn btn-primary ischool-btn-primary text-white" href="#">Register</a></div>
          </li>
        </ul>
      </div>
    </div>
  </nav>