<header>
  <nav class="breadcrumbs">
    <ul
      class="list-unstyled list-inline d-flex justify-content-left align-items-center"
    >
      <li class="list-inline-item">
        <a class="text-light" href="/">
          <img src="./../../../assets/images/home.svg" />
        </a>
      </li>
      <li class="list-inline-item">
        <a class="text-light" href="/"> Explore Schools </a>
      </li>
    </ul>
  </nav>
  <div class="input-group search-bar">
    <input
      type="text"
      class="form-control-lg form-control"
      placeholder="Search for an institute or a course"
    />

    <button class="btn image-button">
      <img src="../../../assets/images/search.svg" />
    </button>
  </div>
  <div class="records-meta">
    <p>
      You found <strong>4543</strong> institutes and
      <strong>2424242</strong> courses
    </p>
  </div>
</header>
